<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Web App của tôi</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <h1>LOGO CUA HANG</h1>
            <img src="/image/logo.PNG" alt="Logo Cua Hang" width="100" height="100">
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <h1>DAY LA THANH FOOTER CHUNG</h1>
        </footer>

    </body>
</html>